<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret</title>
  <style>
    body {
      height: 100vh;
      background-color: aqua;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #222;
      margin: 0;
      padding: 20px 50px;
    }

    h1 {
      color: palevioletred;
      display: flex;
      justify-content: center;
    }

    form {
      justify-content: center;
      width: fit-content;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }



    input {
      padding: 6px;
      font-size: 18px;
      width: fit-content;
    }

    #button {
      margin: auto;
      padding: 8px;
      font-size: 16px;
      background-color: palevioletred;
      color: white;
      border: none;
      border-radius: 5px;
      width: 200px;
    }

    label {
      font-size: large;
    }

    #message {
      display: flex;
      justify-content: center;
      color: palevioletred;
    }
    #idk {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <div>
    <h1>Secret Page</h1>
    <p>Welcome to the secret page! Here's the flag:</p>
    <p>
      <%= flag %>
    </p>
    <div id="idk">
      <a href="logout" id="button">Logout</a>
    </div>
  </div>
</body>

</html>