<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000004" integrity="IHBsYWludGV4dCAtY2hlY2sgdGhlIGNoYWxsZW5nZSBkZXNjcmlwdGlvbi0p">
    <meta name="theme-color" content="#000003" integrity="GZyb20gYWNjZXNzaW5nIHNvbWV0aGluZz8gPGJyPiBoaW50OiAoaXQgaXMgbm90IGlu">
    <meta name="theme-color" content="#000001" integrity="VGhleSBzYXkgdGhhdCBodW1hbnMgZG9uJ3Qgc2VlIG1ldGEgdGFncyAsIEkgaG">
    <meta name="theme-color" content="#000002" integrity="9wZSB0aGF0J3MgcmlnaHQgISAgZG8geW91IGtub3cgaG93IGNhbiBJIHByZXZlbnQgaHVtYW5zI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body >
    
    <h1>congrats, you know nosqli , now what ? </h1>
 
</body>

</html>