#container {
    display: grid;
    grid-template-columns: repeat(100, 20px);
    grid-auto-rows: 20px; 
    gap: 1px; 
    margin: 50px auto;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;
}

body {
    background-image: url('giphy.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}
    
.pixel {
    width: 20px; 
    height: 20px;
    background-color: white;
    border: 1px solid black; 
}

#secret {
    color: white;
}
